<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('JEMCASH')" data-ng-class="{active: currency.symbol == 'JEMCASH'}">JEMCASH</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mJEMCASH')" data-ng-class="{active: currency.symbol == 'mJEMCASH'}">mJEMCASH</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uJEMCASH')" data-ng-class="{active: currency.symbol == 'uJEMCASH'}">uJEMCASH</a>
  </li>
</ul>

